.andwis_companies {
    background-color: var(--col-grey-200);
    &__card {
        border-left: 1px solid white;
        border-right: 1px solid white;
        display: grid !important;
        place-content: center;
        padding: 1rem;
        height: 100px !important;
        img {
            filter: grayscale(1);
            margin: auto;
            max-height: calc(100px - 1rem);
            width: auto;
        }
    }
}