.companies {
    .company:nth-last-of-type(even) {
        background-color: var(--col-grey-200);
    }
    .company {
        &__services {
            display: flex;
            flex-wrap: wrap;
        }
        &__service {
            width: max(130px, calc(100% / 3));
            text-align: center;
            font-size: var(--fs-300);
            font-weight: var(--fw-600);
            padding-inline: 0.5rem;
            text-decoration: none;
            color: var(--col-green-900);
            img {
                width: 100px;
                height: 100px;
                margin-inline: auto;
                margin-bottom: 0.5rem;
                transition: transform var(--transition);
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}