.service {
    .companies {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        img {
            max-width: 150px;
            max-height: 50px;
        }
        a {
            display: grid;
            place-content: center;
        }
    }
    &__icon {
        max-width: 200px;
        margin-inline: auto;
    }
}